#image-preview{
   
    height: 150px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    border:transparent;
    border-radius: 5px;
    
}
video{
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width:320px){
    video{
        width: 70%;
    }
}