.signinBtn{
   margin-left: 40%;
}

.signin{
    display: flex;
   
}
.signin p{
    margin-top: 10px;
    
   
}

.createPostBox{
    width: 87%;
    margin-left: 3.5%;
    padding:10px;
    margin-top: 5%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.createPostImageUpload > input{
    display:none;
}
.createPostText{
    border:none;
    width: 250px;
    max-width: 650px;
    margin-bottom: 5%;
    height:50px;
    outline:none;
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding-top:20px;
}


.up{
    width: 80px;
}



@media only screen and (min-width:425px) {
    .createPostBox{
        width: 88%;
    }
}

@media only screen and (min-width:600px) {
    .createPostBox{
        margin-left: 11%;
        width: 74%;
    }
}

@media only screen and (min-width:760px) {
    .createPostBox{
        margin-left: 8%;
        width: 82%;
    }
}
@media only screen and (min-width:820px) {
    .createPostBox{
        margin-left: 14%;
        width: 70%;
    }
}
@media only screen and (min-width:900px) {
    .createPostBox{
        margin-left: 17%;
        width: 63.5%;
    }
}
@media only screen and (min-width:1020px) {
    .createPostBox{
        margin-left: 18.5%;
        width: 61%;
    }
}
@media only screen and (min-width:1120px) {
    .createPostBox{
        margin-left: 23%;
        width: 52%;
    }
}
@media only screen and (min-width:1240px) {
    .createPostBox{
        margin-left: 28%;
        width: 43%;
    }
}

@media only screen and (min-width:1440px) {
    .createPostBox{
        margin-left: 31%;
        width: 37%;
    }
}