.empty{
    height: 30px;
}
.root{
    margin-top: 2%;
}
.post{
    display: grid;
    place-items: center;
    margin-top: 2%;
   
}
.wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  
  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 645px;
  }
  .image{
      width: 100%;
      max-width: 645px;
  }
  @media only screen and (min-width:320px) {
    .root{
        width: 300px;
    }
  }
  @media only screen and (min-width:375px) {
    .root{
        width: 350px;
    }
  }
  @media only screen and (min-width:425px) {
    .root{
        width: 400px;
    }

  }
  @media only screen and (min-width:525px) {
    .root{
        width: 500px;
    }
  }
  @media only screen and (min-width:625px) {
    .root{
        width: 6y00px;
    }
  }
  @media only screen and (min-width:768px) {
    .wrapper {
        position: sinitial;
        padding-top: initial;
        
      }
      .post{
        margin-top: 1%;
      }
          
      
      .player {
        position: initial;
        top: initial;
        left: initial;
        width: initial;
        height: initial;
      }
      .root{
          width: 645px;
      }
      
  }